.general {
    width: 100%;

    &_about-us {
        padding-top: 30px;
        padding-bottom: 30px;

        & h1 {
            color: $accent-light;
            // text-shadow: none;
            font-size: 35px;
            text-align: center;
        }

        & p {
            font-size: 20px;
        }
    }

    &_how-we-work {
        padding-top: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        line-height: 40px;

        &_box1 {
            font-size: 20px;
            min-width: 400px;

            max-width: 50%;

            & h3 {
                color: $accent-light;
                font-size: 35px;
                text-align: left;
            }

            & ol {
                // list-style-type: none; 
                counter-reset: num;
                margin: 0 0 0 45px;
                padding: 15px 0 5px 0;
                // font-size: 1px;

                & li {
                    position: relative;	
                    margin: 0 0 0 0;
                    padding: 10px 0 10px 0;
                    line-height: 1.4; 
                }

                & li:before {
                    content: counter(num); 
                    counter-increment: num;
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: -38px;
                    width: 28px;
                    height: 28px;
                    // background: $accent-base;
                    color: $accent-base;
                    // color: #fff;
                    text-align: center;
                    line-height: 65px;
                    font-size: 40px;
                    font-weight: 700;
                }
            }

        }

        &_box2 {
            min-width: 400px;
            max-width: 50%;

            & img {
                width: 100%;
            }
        }

    }

    
}