.header{
    width: 100%;
    background-color: $background-base;


    &_wrapp {
        // max-width: 1300px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        padding: 0px 10px 5px;

    }

    &_banner {
        text-align: center;
        background-color: $accent-base;
    }

    &_banner span {
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
        color: $primari-light;
    }

    &_info {
        // height: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        padding-top: 5px;

        &__box {
            padding-right: 15px;
        }
    }

    &_location {
        width: 170px !important; 
        padding: 0 10px;;
        border: 2px solid $accent-light;
        border-radius: 10px;

        & span {
            width: 100%;
        }

        & span::after {
            content: "Минск, Кнорина 50";
        }
    }

    
    &_location:hover {
      font-weight: 700;
      background-color: $accent-light;
      color: #ffffff;  
      transition: all 0.2s;
      border: 2px solid $accent-light;
      width: inherit;
    }

    &_location:hover span::after {
        content: "показать на карте";
    }

    &_phone {
        height: inherit;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 700;

        &__icon {
            height: 20px;
            align-items: center;
        }

        &__icon img {
            height: 20px;
        }
    }

    &_box{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        vertical-align: bottom;
        text-align: center;
        align-items:flex-end;
    }

    &_logo {
        height: 60px;
    }

    &_logo span {
        font-size: 40px;
    }
    
    &_nav {
        padding-bottom: 8px;
        vertical-align: bottom;
        font-size: larger;
        font-weight: 500;
        
        &__link {
            padding-left: 25px;
            font-weight: 700;
        }
        
        &__link a {
            color: $accent-base;
            text-decoration: none;
            font-size: 1em;
            position: relative;
            transition: all 0.6s;

            &:before {
                content: "";
                width: 0;
                height: 0.1em;
                position: absolute;
                bottom: 0;
                left: 50%;
                background: $accent-light;
                transition: all 0.3s;
            }

            &:hover {
                &:before {
                  width: 100%;
                  left: 0;
                  background: $accent-light;
                }
            }

            &:active {
                color: $accent-dark;
                transition: all 0.1s;
            }
        }
    }

    &_nav ul{
        display: flex;
        flex-direction: row;
        text-transform: uppercase; 
    }

    &_service{
        width: 100%;
        
        &__nav ul{
            display: flex;
            flex-direction: row;
            justify-content: left;
            flex-wrap: wrap;
        }

        &__link {
            padding-right: 20px;
            text-transform: uppercase;
            color: $text-base;
            
        }

        &__link a {
            border-radius: 3px;
            padding: 0 5px;
            transition: background 0.2s ease;
        }

        &__link a:hover {
            // border-radius: 5px;
            background-color: $accent-base;
            color: #ffffff;
            transition: background 0.2s ease;
        }

        &__link a:active {
            // border-radius: 5px;
            background-color: $accent-dark;
            color: #ffffff;
            transition: background 0.1s ease;
        }


    }

}