

@media (min-width: 1200px) {
    body {
        background-color: aquamarine;
    }
    .header_info_container {
        justify-content: space-between;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer_wrapp {
        background-color: burlywood;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer_wrapp {
        background-color: rgb(110, 228, 124);
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .footer_wrapp {
        background-color: rgb(110, 196, 228);
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .footer_wrapp {
        background-color: rgb(141, 110, 228);
    }
}

@media (max-width: 320px) {
    .footer_wrapp {
        background-color: rgb(214, 110, 228);
    }
}