$primary-base: #dddddd;
$primari-light: #ffffff;
$primari-dark: #999999;

$text-base: #150804;
$text-light: #bd4622;
$text-dark: #3f170b;
$text-darker: #000000;


$accent-base: #E7562A;
$accent-light:#ff6232;
$accent-dark: #c44924;

$secondary-base: #b3cac6;
$secondary-light: #cce4e0;
$secondary-dark: #9fb3af;

$background-base: #ffffff;
$background-light: #ffffff;
$background-dark: #a2aaa6;
